# Environment
PORT=3333
NODE_ENV='development'

# Application
API_BASE_URL='http://localhost:3333'
AUTH_REDIRECT_URL='http://localhost:3000'

# Database
DATABASE_URL='postgresql://docker:docker@localhost:5432/pizzashop'

# Auth
JWT_SECRET_KEY=''
